In [3]:
import numpy as np
from scipy.stats import iqr
import pandas as pd

In [4]:
np.random.seed(101)
df = pd.DataFrame(np.random.randint(9,size=(5,4)),
                 index= "A B C D E".split(),
                 columns= "W X Y Z".split())
df

   W  X  Y  Z
A  1  6  7  8
B  4  8  5  0
C  5  8  1  3
D  8  3  3  2
E  8  3  7  0

In [5]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [6]:
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [8]:
df.shape

(5, 4)

In [9]:
df.size

20

In [10]:
df.ndim

2

**df.reset_index()** Reset the index of the DataFrame, and use the default one instead. if the DataFrame has a Multilndex, this methos can remove one or more levels.
* dizinini sıfırlayın ve bunun yerine varsayılanı kullanın. DataFrame'in bir MultiIndex'i varsa, bu yöntem bir veya daha fazla seviyeyi kaldırabilir.

In [11]:
df.reset_index()

  index  W  X  Y  Z
0     A  1  6  7  8
1     B  4  8  5  0
2     C  5  8  1  3
3     D  8  3  3  2
4     E  8  3  7  0

**df.se_index()** Set the DataFrame index using existing columns

In [12]:
newindx='CA NY WY OR CO'.split()
newindx

['CA', 'NY', 'WY', 'OR', 'CO']

In [13]:
df['newindx']=newindx
df

   W  X  Y  Z newindx
A  1  6  7  8      CA
B  4  8  5  0      NY
C  5  8  1  3      WY
D  8  3  3  2      OR
E  8  3  7  0      CO

In [15]:
df.set_index('newindx')

         W  X  Y  Z
newindx
CA       1  6  7  8
NY       4  8  5  0
WY       5  8  1  3
OR       8  3  3  2
CO       8  3  7  0

**df["col"]:** You can pass a list of coluums to [] to select columns in that order.

In [17]:
df["W"]

A    1
B    4
C    5
D    8
E    8
Name: W, dtype: int64

**df.col:** You may access a column on a **dataframe** directly as an attribute.

In [18]:
df.W

A    1
B    4
C    5
D    8
E    8
Name: W, dtype: int64

**df.loc[]** access a group of rows and columns by label(s) or a boolean array

In [20]:
df.loc['B','W']

4

**df.iloc[]** Purely integer-location based indexing for selection by position.

In [21]:
df.iloc[1,0]

4

***Conditional Indexing*** The conditional inside the slection brackets df[df["Y"]<6] checks for which rows the Y column has a value smaller than 6

In [22]:
df[df["Y"]<6]

   W  X  Y  Z newindx
B  4  8  5  0      NY
C  5  8  1  3      WY
D  8  3  3  2      OR

In [24]:
df[df["X"]==8]

   W  X  Y  Z newindx
B  4  8  5  0      NY
C  5  8  1  3      WY